@import "tailwindcss";

:root {
  --main-bg: #e9e7d9;
  --second-bg: #d2c6b2;
  --main-text: #442727;
  --pistachio-color: #927d14;
}

body {
  font-family: "Cairo", sans-serif;
  color: #2c2c2c;
}

.main-bg {
  background-color: var(--main-bg);
}

.second-bg {
  background-color: var(--second-bg);
}
.main-text {
  background-color: var(--main-text);
}
.cairo-font {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
